.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 80%;
  margin-left: 10%;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.number-of-reviews {
  padding: 1rem 0.75rem 1rem 0.75rem;
  border: 1px solid black;
}

.reviews-table {
  display: flex;
  justify-content: space-evenly;
}

.table-row td,
.table-row th {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(even) {
  background: #e1e1e1;
}

tbody tr:hover {
  font-size: 1.1rem;
}
